<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8">
    <title>Пример интеграции кабинета клиента PricePlan</title>

  </head>
  <body>
    <div class="container">
      <h1>PricePlan</h1>
      <h2>Пример интеграции кабинета клиента</h2>
      <div>
        <p>
          ID клиента: <b>{{ client_id }}</b>
        </p>
        <p>
          ID ползователя клиента: <b>{{ user_id }}</b>
        </p>
      </div>

      <!-- Добавьте iframe на вашу старницу -->
      <iframe id="pp" src="{{ iframe_src }}" width="100%" scrolling="no">
      </iframe>

    </div>

    <!-- Эти скрипты следует добавить исключительно для удобства использования -->
    <script src="{{ prefix }}/js/iframeResizer.min.js"></script>
    <script>
      iFrameResize({
        log: true,  // В продуктовом окружении заменить на false
        warningTimeout: 15000,
        checkOrigin: false
      });
    </script>

  </body>
</html>
